name: Daily Data Ingestion

on:
  schedule:
    # Runs at 2 AM UTC every day
    - cron: '0 4 * * *'
  workflow_dispatch:  # Allows manual triggering

jobs:
  ingest:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    
    - name: Run ingestion
      env:
        DB_URL: ${{ secrets.DATABASE_URL }}
      run: |
        python ./src/database/db_ingest.py